flows.json
[
    {
        "id": "6b433b0c.d42af4",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8fd51f2f.238da",
        "type": "ui_form",
        "z": "6b433b0c.d42af4",
        "name": "",
        "label": "",
        "group": "8501b20c.28a6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Cement",
                "value": "cm",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Blast Furnace Slag",
                "value": "bf",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fly Ash",
                "value": "fl",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Water",
                "value": "wa",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Super Plasticizer",
                "value": "sp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Coarse Aggregate",
                "value": "ca",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fine Aggregate",
                "value": "fa",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "ag",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "cm": "",
            "bf": "",
            "fl": "",
            "wa": "",
            "sp": "",
            "ca": "",
            "fa": "",
            "ag": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 50,
        "y": 420,
        "wires": [
            [
                "cc5d5dda.d85b"
            ]
        ]
    },
    {
        "id": "cc5d5dda.d85b",
        "type": "function",
        "z": "6b433b0c.d42af4",
        "name": "PreToken",
        "func": "global.set(\"cm\",msg.payload.cm)\nglobal.set(\"bf\",msg.payload.bf)\nglobal.set(\"fl\",msg.payload.fl)\nglobal.set(\"wa\",msg.payload.wa)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"gZbD1hOukTV0nifi3dipsY9MWfM3Cud3XPfTiktwZE2M\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "d296e522.6a7558"
            ]
        ]
    },
    {
        "id": "d296e522.6a7558",
        "type": "http request",
        "z": "6b433b0c.d42af4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "e6835331.a721a",
                "f01fb5fd.b550d8"
            ]
        ]
    },
    {
        "id": "e6835331.a721a",
        "type": "function",
        "z": "6b433b0c.d42af4",
        "name": "Pre Prediction",
        "func": "var cm = global.get('cm')\nvar bf = global.get('bf')\nvar fl = global.get('fl')\nvar wa = global.get('wa')\nvar sp = global.get('sp')\nvar ca = global.get('ca')\nvar fa = global.get('fa')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"504552cd-e790-4eb0-9531-8fd639ff4bde\"\nmsg.headers={'Content-Type': 'application/json', 'Authorization': 'Bearer ' +token, 'ML-Instance-ID':instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"], \"values\": [[cm,bf,fl,wa,sp,ca,fa,ag]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "3dd2894.162e776"
            ]
        ]
    },
    {
        "id": "3dd2894.162e776",
        "type": "http request",
        "z": "6b433b0c.d42af4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v4/deployments/46e72053-4582-4f7f-8afa-53eabe1fd2e4/predictions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "f740a536.eb6938",
                "9c2e721a.84a74"
            ]
        ]
    },
    {
        "id": "92e378ef.e80048",
        "type": "ui_text",
        "z": "6b433b0c.d42af4",
        "group": "8501b20c.28a6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Strength",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "9c2e721a.84a74",
        "type": "function",
        "z": "6b433b0c.d42af4",
        "name": "",
        "func": "msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "92e378ef.e80048"
            ]
        ]
    },
    {
        "id": "f01fb5fd.b550d8",
        "type": "debug",
        "z": "6b433b0c.d42af4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "f740a536.eb6938",
        "type": "debug",
        "z": "6b433b0c.d42af4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "8501b20c.28a6c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "54482ff1.b83a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "54482ff1.b83a",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]